<% form_tag :action => 'login' do %>
  <table>
    <tbody>
      <tr>
        <td>Username</td>
        <td>Password</td>
      </tr>
      <tr>
        <td><input name="username" type="text"/></td>
        <td><input name="password" type="password"/></td>
      </tr>
      <tr>
        <td colspan="2"> <%= submit_tag "Login" %> </td>
      </tr>
    </tbody>
  </table>
<% end %>
