<head>
	<title>Torrent Portal</title>
  <%=stylesheet_link_tag '/javascripts/ext/resources/css/ext-all' %>
  <%=javascript_include_tag 'ext/adapter/ext/ext-base-debug-w-comments', 'ext/ext-all-debug', 'grid/TorrentList' %>
</head>

<%= yield %>
